@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
:root{
    --bs-body-font-family:'Poppins', sans-serif;
    --body-font-family:'Poppins', sans-serif;
    --body-bg-color:#f3f2f7;
    --text-light:#a0a0a0;
    --text-dark:#212529;
    --text-white:#fff;
    --primary-color:#ab53db;
    --primary-bgcolor:#eddff6;
    --sidebar-width:260px;
    --filterbar-width: 220px;
}
* {
    margin: 0;
}
body{
    background-color: var(--body-bg-color);
}
.wrapper{
    padding: 20px;
    position: relative;
}
.wrapper .sidebar + .main {
    margin-left: var(--sidebar-width);
}
.product-wrapper .filtersbar.show + .product-lists {
    margin-left: var(--filterbar-width);
}
.wrapper .main,
.product-wrapper .product-lists{
    transition: all .3s ease-out;
}
.heading {
    font-size: 28px;
}
.sub-heading {
    font-size: 14px;
}
.wrapper .sidebar.hide{
    left: calc(-1 * var(--sidebar-width));
}
.product-wrapper .filtersbar.show{
    width: var(--filterbar-width);
}
.wrapper .sidebar.hide + .main,
.product-wrapper .filtersbar + .product-lists {
    margin-left: 0;
}
.card{
    border-radius: 30px;
    border: 0;
}
.text-dull{
    color: var(--text-light);
}
.dropdown-item.active i, .dropdown-item:active i{
    color: var(--text-white);
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.32s;
    -moz-transition: all 0.32s;
    -ms-transition: all 0.32s;
    -o-transition: all 0.32s;
    transition: all 0.32s;
    display: block;
    overflow: hidden;
    opacity: 0;
    transform: translateY(1rem) scaleY(0);
    transform-origin: top;
    right: -5px;
    top: 10px;
}
.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0rem) scaleY(1);
}
.fs-s {
    font-size: 14px;
}
.fs-xs{
    font-size: 12px;
}
.btna{
    display: inline-block;
    position: relative;
}
.btna:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 0px;
    right: 0px;
    transition: 0.3s;
    font-size: 26px;
    line-height: 23px;
    font-weight: 300;
}
.btna:hover:after {
    opacity: 1;
    right: -14px;
}
a:hover,
.btn-link:hover{
    color: var(--text-dark);
}
.form-check-input:focus,
.form-control:focus,
.btn-check:active+.btn:focus, 
.btn-check:checked+.btn:focus, 
.btn.active:focus, 
.btn.show:focus, 
.btn:active:focus,
.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}
.search-box{
    position: relative;
}
.search-box .form-control{
    padding-left: 40px;
}
.search-box .search-icon{
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* Hamburger Icon Animation Start */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(180deg);
}
.ham.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#0051a4;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}
.ham .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}
.ham.active .top {
    /* stroke-dasharray: 40 82;
    stroke-dashoffset: 0px; */
    stroke-dasharray: 21 82;
    stroke-dashoffset: -20;
}
.ham.active .bottom {
    /* stroke-dasharray: 40 82;
    stroke-dashoffset: 0px; */
    stroke-dasharray: 21 82;
    stroke-dashoffset: -20;
}
/* Hamburger Icon Animation Ends */

/* Sidebar Style Start */
.sidebar{
    width: var(--sidebar-width);
    position: fixed;
    transition: all .3s ease-out;
    left: 20px;
}
.sidebar .nav-wrapper{
    max-height: 55vh;
}
.sidebar .nav-pills .nav-link{
    color: var(--text-dark);
    padding: 10px 20px;
    border-radius: 15px;
}
.sidebar .nav-pills .nav-link i{
    color: var(--text-light);
    font-size: 22px;
}
.sidebar .nav-pills .nav-link:hover,
.sidebar .nav-pills .nav-link:hover i{
    color: var(--primary-color);
}
.sidebar .nav-pills .nav-link.active,
.sidebar .nav-pills .nav-link.active i, 
.sidebar .nav-pills .show>.nav-link{
    background-color: var(--primary-bgcolor);
    color: var(--primary-color);
}
.sidebar .copyrights{
    padding: 0 20px;
}
.sidebar .copyrights p {
    font-size: 12px;
    color: var(--text-light);
    margin-bottom: 0.25rem;
}
/* Sidebar Style Ends */

/* Header Style Start */
.dropdown-menu.dropdownUser {
    font-size: 14px;
    width: 200px;
}
.dropdown-menu.dropdownUser i.bx{
    font-size: 18px;
}
.dropdown-menu.dropdownNotifications,
.dropdown-menu.dropdownMessages {
    font-size: 14px;
    width: 300px;
    padding: 0px;
}
.dropdown-menu.dropdownNotifications .list-group-item .closeNotification{
    opacity: 1;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #212529;
    padding: 0 5px;
    background: 0 0;
    border: 0;
}
.dropdown-menu.dropdownNotifications .list-group{
    max-height: 300px;
    overflow-y: auto;
}
.dropdown-menu.dropdownNotifications .list-group-item:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
header .icon .count{
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: #ffbb54;
    color: var(--text-white);
    border-radius: 10px;
    padding: 6px;
    font-size: 12px;
    font-family: var(--body-font-family);
    width: 20px;
    height: 20px;
    line-height: 8px;
}
.dropdown-menu.dropdownMessages .list-group-item .profile{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
}
.dropdown-menu.dropdownMessages .list-group{
    max-height: 200px;
    overflow-y: auto;
}
/* Header Style Ends */

/* Charts Style Start */
.card.chart{
    height: 100%;
}
/* Charts Style Ends */

/* Testimonial Slider Style Start */
.testimonial-slider .cta-navigation .swiper-button-next,
.testimonial-slider .cta-navigation .swiper-button-prev,
.testimonial-slider .swiper-pagination{
    position: unset;
    margin: 0;
}
.testimonial-slider .cta-navigation .swiper-button-next::after,
.testimonial-slider .cta-navigation .swiper-button-prev::after{
    font-size: 28px;
    font-weight: 800;
}
.testimonial-slider .card.testimonial{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.testimonial-slider .card.testimonial:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
/* Testimonial Slider Style Ends */

/* Filters Bar CSS Start */
.filtersbar{
    width: 0;
    transition: all .3s ease-out;
    position: absolute;
}
.filtersbar .tags .tag{
    display: inline-block;
}
.filtersbar .card{
    max-height: 80vh;
    overflow-y: auto;
}
/* Filters Bar CSS Ends */