@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
:root{
    --bs-body-font-family:'Poppins', sans-serif;
    --body-font-family:'Poppins', sans-serif;
    --body-bg-color:#f3f3f9;
    --text-light:#a0a0a0;
    --text-dark:#212529;
    --text-white:#fff;
    --primary-color:#ab53db;
    --primary-bgcolor:#eddff6;
    --sidebar-width:260px;
    --filterbar-width: 240px;
    --border-color:#e9ebec;
    --heading-color:#495056;
}
* {
    margin: 0;
}
body{
    background-color: var(--body-bg-color);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color:var(--heading-color);
}
.wrapper{
    padding: 20px;
    position: relative;
}
.wrapper .sidebar + .main {
    margin-left: var(--sidebar-width);
}
.product-wrapper .filtersbar.show + .product-lists {
    margin-left: var(--filterbar-width);
}
.wrapper .main,
.product-wrapper .product-lists{
    transition: all .3s ease-out;
}
.heading {
    font-size: 28px;
}
.sub-heading {
    font-size: 14px;
}
.wrapper .sidebar.hide{
    left: calc(-1 * var(--sidebar-width));
}
.product-wrapper .filtersbar.show{
    width: calc(-20px + var(--filterbar-width));
}
.wrapper .sidebar.hide + .main,
.product-wrapper .filtersbar + .product-lists {
    margin-left: 0;
}
.card{
    border: 0;
    box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
    margin-bottom: 1.5rem!important;
}
.card-height-100{
    height: calc(100% - 1.5rem);
}
.card-animate{
    -webkit-transition: all .4s;
    transition: all .4s;
}
.card-animate:hover{
    -webkit-transform: translateY(calc(-1.5rem / 5));
    transform: translateY(calc(-1.5rem / 5));
    -webkit-box-shadow: 0 5px 10px rgb(30 32 37 / 12%);
    box-shadow: 0 5px 10px rgb(30 32 37 / 12%);
}
.text-dull{
    color: var(--text-light);
}
.bgprimary{
    background-color: var(--primary-bgcolor);
    color: var(--primary-color);
}
.bgprimary:hover,
.bgprimary:focus,
.bgprimary:active{
    background-color: var(--primary-color);
    color: var(--text-white);
}
.bg-soft-primary{
    color: #084298 !important;
    background-color: #cfe2ff !important;
    border-color: #b6d4fe !important;
}
.bg-soft-secondary{
    background-color: rgba(53,119,241,.18)!important;
}
.bg-soft-success{
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
}
.bg-soft-danger{
    color: #842029 !important;
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
}
.bg-soft-warning{
    color: #664d03 !important;
    background-color: #fff3cd !important;
    border-color: #ffecb5 !important;
}
.bg-soft-info{
    color: #055160 !important;
    background-color: #cff4fc !important;
    border-color: #b6effb !important;
}
.dropdown-item.active i, .dropdown-item:active i{
    color: var(--text-white) !important;
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.32s;
    -moz-transition: all 0.32s;
    -ms-transition: all 0.32s;
    -o-transition: all 0.32s;
    transition: all 0.32s;
    display: block;
    overflow: hidden;
    opacity: 0;
    transform: translateY(1rem) scaleY(0);
    transform-origin: top;
    right: -5px;
    top: 10px;
}
.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0rem) scaleY(1);
}
.fs-s,
.btn,
button {
    font-size: 14px;
}
.fs-xs{
    font-size: 12px;
}
.list-icon{
    font-size: 8px;
}
.fw-medium{
    font-weight: 500;
}
.btna{
    display: inline-block;
    position: relative;
}
.btna:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 0px;
    right: 0px;
    transition: 0.3s;
    font-size: 26px;
    line-height: 23px;
    font-weight: 300;
}
.btna:hover:after {
    opacity: 1;
    right: -14px;
}
.btn-link,
a.btn-link{
    font-size: 14px;
    color: var(--text-light);
}
a:hover,
.btn-link:hover{
    color: var(--text-dark);
}
.form-check-input:focus,
.form-control:focus,
.btn-check:active+.btn:focus, 
.btn-check:checked+.btn:focus, 
.btn.active:focus, 
.btn.show:focus, 
.btn:active:focus,
.btn-check:focus+.btn, .btn:focus,
.gridjs-pagination .gridjs-pages button:focus,
.btn-clode:focus,
button:focus:not(:focus-visible),
.form-select:focus,
.page-link:focus{
    box-shadow: none;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:focus-within,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: #fff;
}
.search-box{
    position: relative;
}
.search-box .form-control{
    padding-left: 40px;
}
.search-box .search-icon{
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.avatar-xxs{
    height: 1.5rem;
    width: 1.5rem;
}
.avatar-xs{
    height: 2rem;
    width: 2rem;
}
.avatar-sm{
    height: 3rem;
    width: 3rem;
}
.avatar-md{
    height: 4.5rem;
    width: 4.5rem;
}
.avatar-lg{
    height: 6rem;
    width: 6rem;
}
.avatar-xl{
    height: 7.5rem;
    width: 7.5rem;
}
.avatar-title{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #405189;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
.avatar-group{
    padding-left: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.avatar-group .avatar-group-item{
    margin-left: -12px;
    border: 2px solid var(--text-white);
    border-radius: 50%;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-size: 12px;
    text-decoration: none;
}
.avatar-group .avatar-group-item:hover{
    position: relative;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    z-index: 1;
}
.progress-sm {
    height: 5px;
}
.progress-lg {
    height: 12px;
}
.progress-xl {
    height: 16px;
}
.dropzone{
    border: 2px dashed #e9ebec;
}
.tags .tag{
    display: inline-block;
}
.flatpickr-current-month{font-size: 120%;}
.flatpickr-current-month input.cur-year,
.flatpickr-current-month .flatpickr-monthDropdown-months{
    font-weight: 500;
}
.card-title{
    font-size: 1rem!important;
    color: var(--text-dark) !important;
}
.modal-title{
    font-size: 1rem!important;
}
.pagination-count{
    color: #878a99!important;
    margin-top: 8px!important;
    font-size: 14px;
    font-weight: 300;
} 
ul.pagination .page-link {
    margin-left: 0.3rem !important;
    border-radius: 0.25rem!important;
    border: 1px solid #e9ebec;
    background-color: #fff;
    color: #405189;
    font-size: 14px;
    outline: none;
    padding: 5px 14px;
} 
ul.pagination .page-item.disabled .page-link{
    color: #878a99;
    background-color: #fff;
    cursor: not-allowed;
} 
ul.pagination .page-item.active .page-link{
    background-color: #405189;
    color: #fff;
    border-color: #405189;
    font-weight: 500;
}
/* General Tab Start */
.nav-tabs-custom.card-header-tabs .nav-link{
    padding: 0 1rem 1rem;
}
.nav-tabs-custom .nav-item .nav-link{
    position: relative;
    color: var(--text-dark);
    font-weight: 500;
    font-size: 14px;
}
.nav-tabs-custom .nav-item .nav-link.active{
    color: #405189;
}
.nav-tabs-custom .nav-item .nav-link::after{
    content: "";
    background-color: var(--bs-primary);
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0)
}
.nav-tabs-custom .nav-item .nav-link.active:after{
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* General Tab Ends */
/* Forms Style Start */
.form-control,
.form-select{
    font-size: 13px;
    font-weight: 400;
}
.form-label,
label{
    font-size: 13px;
    font-weight: 500;
}
select.form-control::after{
    content: "\ea4a";
    position: absolute;
    border: 0;
    border-color: #212529 transparent transparent;
    right: 11.5px;
    left: auto;
    width: auto;
    height: auto;
    margin-top: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.border-dashed {
    border-style: dashed!important;
}
.border-top-dashed{
    border-top-style: dashed!important;
}
.border-bottom-dashed{
    border-bottom-style: dashed!important;
}
/* Forms Style Ends */

/* Fixed minimum width Start */
.w-xs {
    min-width: 80px;
}
.w-sm {
    min-width: 95px;
}
.w-md {
    min-width: 110px;
}
.w-lg {
    min-width: 140px;
}
.w-xl {
    min-width: 160px;
}
/* Fixed minimum width Ends */

/* Hamburger Icon Animation Start */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(180deg);
}
.ham.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#0051a4;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}
.ham .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
}
.ham.active .top {
    /* stroke-dasharray: 40 82;
    stroke-dashoffset: 0px; */
    stroke-dasharray: 21 82;
    stroke-dashoffset: -20;
}
.ham.active .bottom {
    /* stroke-dasharray: 40 82;
    stroke-dashoffset: 0px; */
    stroke-dasharray: 21 82;
    stroke-dashoffset: -20;
}
/* Hamburger Icon Animation Ends */

/* Sidebar Style Start */
.sidebar{
    width: var(--sidebar-width);
    position: fixed;
    transition: all .3s ease-out;
    left: 20px;
}
.sidebar .card{
    border-radius: 30px;
}
.sidebar .nav-wrapper{
    max-height: 55vh;
}
.sidebar .nav-pills .nav-link{
    color: var(--text-dark);
    padding: 10px 20px;
    border-radius: 15px;
}
.sidebar .nav-pills .nav-link i{
    color: var(--text-light);
    font-size: 22px;
}
.sidebar .nav-pills .nav-link:hover,
.sidebar .nav-pills .nav-link:hover i{
    color: var(--primary-color) ;
}
.sidebar .nav-pills .nav-link.active,
.sidebar .nav-pills .nav-link.active i, 
.sidebar .nav-pills .show>.nav-link{
    background-color: var(--primary-bgcolor);
    color: var(--primary-color);
}
.sidebar .copyrights{
    padding: 0 20px;
}
.sidebar .copyrights p {
    font-size: 12px;
    color: var(--text-light);
    margin-bottom: 0.25rem;
}
.filter-check i.bx.bxs-star{
    letter-spacing: -2.5px;
}
/* Sidebar Style Ends */

/* Header Style Start */
.dropdown-menu.dropdownUser {
    font-size: 14px;
    width: 200px;
}
.dropdown-menu.dropdownUser i.bx{
    font-size: 18px;
}
.dropdown-menu.dropdownNotifications,
.dropdown-menu.dropdownMessages {
    font-size: 14px;
    width: 300px;
    padding: 0px;
}
.dropdown-menu.dropdownNotifications .list-group-item .closeNotification{
    opacity: 1;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #212529;
    padding: 0 5px;
    background: 0 0;
    border: 0;
}
.dropdown-menu.dropdownNotifications .list-group{
    max-height: 300px;
    overflow-y: auto;
}
.dropdown-menu.dropdownNotifications .list-group-item:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
header .icon .count{
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: #ffbb54;
    color: var(--text-white);
    border-radius: 10px;
    padding: 6px;
    font-size: 12px;
    font-family: var(--body-font-family);
    width: 20px;
    height: 20px;
    line-height: 8px;
}
.dropdown-menu.dropdownMessages .list-group-item .profile{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
}
.dropdown-menu.dropdownMessages .list-group{
    max-height: 200px;
    overflow-y: auto;
}
/* Header Style Ends */

/* Charts Style Start */
.card.chart{
    height: 100%;
}
/* Charts Style Ends */

/* Testimonial Slider Style Start */
.testimonial-slider .cta-navigation .swiper-button-next,
.testimonial-slider .cta-navigation .swiper-button-prev,
.testimonial-slider .swiper-pagination{
    position: unset;
    margin: 0;
}
.testimonial-slider .cta-navigation .swiper-button-next::after,
.testimonial-slider .cta-navigation .swiper-button-prev::after{
    font-size: 28px;
    font-weight: 800;
}
.testimonial-slider .card.testimonial{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}
.testimonial-slider .card.testimonial:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
/* Testimonial Slider Style Ends */

/* Filters Bar CSS Start */
.filtersbar{
    width: 0;
    transition: all .3s ease-out;
    position: absolute;
}
.filtersbar .tags .tag{
    display: inline-block;
}
.filtersbar .card{
    max-height: 80vh;
    overflow-y: auto;
}
/* Filters Bar CSS Ends */

/* Product Tab CSS Start */
.product-lists .nav-tabs-custom .nav-item .nav-link{
    position: relative;
}
.product-lists .nav-tabs-custom .nav-item .nav-link::after{
    content: "";
    background: var(--bs-primary);
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0)
}
.product-lists .nav-tabs-custom .nav-item .nav-link.active:after{
    -webkit-transform: scale(1);
    transform: scale(1);
}

.table-card .gridjs-container{
    color: var(--text-dark);
    padding: 0;
    display: block;
}
.table-card .gridjs-wrapper{
    -webkit-box-shadow: none;
    box-shadow: none;
    /* border: 1px solid var(--text-light); */
    border-radius: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px 0;
}
.table-card td.gridjs-td,
.table-card th.gridjs-th{
    border: 1px solid var(--border-color);
    padding: 0.75rem 0.6rem;
}
.table-card th.gridjs-th{
    border-top: 0;
    color: var(--text-dark);
    background-color: var(--bs-light);
}
.table-card th.gridjs-th .gridjs-th-content{
    float: none;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}
.table-card button.gridjs-sort{
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 20px;
}
.table-card .gridjs-tbody,
.table-card td.gridjs-td{
    background-color: transparent;
}
.table-card.gridjs-border-none td.gridjs-td, 
.table-card.gridjs-border-none th.gridjs-th{
    border-right-width: 0;
    border-left-width: 0;
}
.table-card td:first-child, .table-card th:first-child{
    padding-left: 20px;
}
.table-card td:last-child, .table-card th:last-child{
    text-align: center;
}
.table-card .gridjs-footer{
    padding: 8px 16px;
}
.table-card .gridjs-footer .gridjs-summary{
    color: #878a99;
    margin-top: 8px!important;
    font-size: 14px;
    font-weight: 300;
}
.gridjs-pagination .gridjs-pages button{
    margin-left: 0.3rem;
    border-radius: 0.25rem!important;
    border: 1px solid var(--border-color);
    background-color: var(--text-white);
    color: #405189;
    font-size: 14px;
}
.gridjs-pagination .gridjs-pages button.gridjs-currentPage{
    background-color: #405189;
    color: #fff;
    border-color: #405189;
    font-weight: 500;
}
.gridjs-pagination .gridjs-pages button:disabled, 
.gridjs-pagination .gridjs-pages button:hover:disabled, 
.gridjs-pagination .gridjs-pages button[disabled]{
    color: #878a99;
    background-color: var(--text-white);
    cursor: not-allowed;
}
/* Product Tab CSS Ends */

/* Add Product CSS Start */
.ckeditor-classic *{
    font-family: var(--body-font-family);
}
.ckeditor-classic p,
.ckeditor-classic li,
.ckeditor-classic a{
    font-size: 14px;
}
.ckeditor-classic .ck-editor__top .ck-toolbar{
    border-top-left-radius: .375rem !important;
    border-top-right-radius:  .375rem !important;;
}
.ckeditor-classic .ck-editor__main .ck-content{
    border-bottom-left-radius:  .375rem !important;
    border-bottom-right-radius:  .375rem !important;
}
.add-product .nav-tabs-custom.card-header-tabs .nav-link{
    padding: 0 1rem 1rem;
}
.add-product .nav-tabs-custom .nav-item .nav-link{
    position: relative;
    color: var(--text-dark);
    font-weight: 500;
    font-size: 14px;
}
.add-product .nav-tabs-custom .nav-item .nav-link.active{
    color: #405189;
}
.add-product .nav-tabs-custom .nav-item .nav-link::after{
    content: "";
    background-color: var(--bs-primary);
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0)
}
.add-product .nav-tabs-custom .nav-item .nav-link.active:after{
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* Add Product CSS Ends */
/* Product Details CSS Start */
.sticky-side-div{
    height: fit-content;
    position: sticky;
    top: 20px;
}
.product-img-slider .swiper-button-next,
.product-img-slider .swiper-button-prev{
    height: 32px;
    width: 32px;
    background-color: rgba(64,81,137,.2);
    backdrop-filter: blur(2px);
    border-radius: 8px;
}
.product-img-slider .swiper-button-next::after,
.product-img-slider .swiper-button-prev::after{
    font-family: boxicons!important;
    font-size: 28px;
    color: var(--primary-color);
    transition: all .3s ease;
}
.product-img-slider .swiper-button-prev::after{
    content: "\ea4d"!important;
}
.product-img-slider .swiper-button-next::after{
    content: "\ea50"!important;
}
.product-img-slider .product-nav-slider .nav-slide-item{
    border: 1px solid #e9ebec;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
}
.product-img-slider .product-nav-slider .swiper-slide-thumb-active .nav-slide-item{
    background-color: #f3f6f9;
}
.product-content .nav-tabs-custom.card-header-tabs .nav-link{
    padding: 0 1rem 1rem;
}
.product-content .nav-tabs-custom .nav-item .nav-link{
    position: relative;
    color: var(--text-dark);
    font-weight: 500;
    font-size: 14px;
    border: 0;
}
.product-content .nav-tabs-custom .nav-item .nav-link.active{
    color: #405189;
}
.product-content .nav-tabs-custom .nav-item .nav-link::after{
    content: "";
    background-color: var(--bs-primary);
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0)
}
.product-content .nav-tabs-custom .nav-item .nav-link.active:after{
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* Product Details Ends */
/* User Profile CSS Start */
.profile-user .profile-photo-edit{
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
    cursor: pointer;
}
.profile-user .profile-img-file-input{
    display: none;
}
/* User Profile CSS Ends */
/* Timeline CSS Start */
.timeline{
    position: relative;
    width: 100%;
    /* max-width: 1400px; */
    margin: 0 auto;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 2px;
    background: var(--text-white);
    top: 57px;
    bottom: 166px;
    left: 50%;
    margin-left: -1.5px;
}
.timeline-item{
    padding: 30px 60px;
    position: relative;
    background: inherit;
    width: 50%;
}
.timeline-item .icon{
    position: absolute;
    display: inline-flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    top: 30px;
    right: -30px;
    padding: 9px 0;
    border-radius: 50px;
    z-index: 1;
}
.timeline-item .date{
    position: absolute;
    display: inline-block;
    width: calc(100% - 48px);
    top: 50px;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}
.timeline-item .content{
    padding: 20px;
    background: var(--text-white);
    position: relative;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
}
.timeline-item.left{
    left: 0;
}
.timeline-item.left .date{
    left: calc(100% + 48px);
    text-align: start;
}
.timeline-item.right{
    left: 50%;
}
.timeline-item.right .icon {
    left: -30px;
}
.timeline-item.right .date {
    right: calc(100% + 48px);
    text-align: end;
}
.timeline-item.right::before {
    left: 28px;
    border-color:black;
}
@media (max-width: 991.98px) {
    .timeline-item .date{
        font-size: 12px !important;
    }
    .timeline::after {
       left: 112px;
       bottom: 180px;
   }
    .timeline-item {
       width: 100%;
       padding-left: 165px;
       padding-right: 0px;
   }
    .timeline-item.right, .timeline-item.left {
       left: 0%;
   }
    .timeline-item.right .icon, .timeline-item.left .icon {
       width: 45px;
       height: 45px;
       top: 37.5px;
       font-size: 18px;
       left: 90px;
   }
    .timeline-item.right::before, .timeline-item.left::before {
       left: 110px;
       border-color: transparent transparent transparent "";
   }
    .timeline-item.right .date, .timeline-item.left .date {
       right: auto;
       left: 0px;
       width: 79px;
   }
}
/* Timeline CSS Ends */
/* Task Board CSS start */
.mx-n3{
    margin-right: -1rem!important;
    margin-left: -1rem!important;
}
.mx-n4{
    margin-right: -1.5rem!important;
    margin-left: -1.5rem!important;
}
.my-n2{
    margin-top: -.5rem!important;
    margin-bottom: -.5rem!important;
}
.m-n3{
    margin: -1rem -1rem;
}
.mt-n1{
    margin-top: -0.25rem!important;
}
.mt-n2{
    margin-top: -.5rem!important;
}
.mt-n3{
    margin-top: -1rem!important;
}
.my-n4{
    margin-top: -1.5rem!important;
}
.tasks-box .task-title{
    font-size: 15px;
}
.tasks-list .btn-task{
    color: #299cdb;
    background-color: rgba(41,156,219,.1);
    border-color: transparent;
}
.tasks-list .btn-task:hover{
    color: #fff;
    background-color: #299cdb;
}
.tasks-list h6.fw-semibold{
    font-size: 15px !important;
}
.tasks-board{
    display: flex;
    overflow-x: auto;
    align-items: stretch;
}
.tasks-board .tasks-list {
    min-width: 300px;
    margin-right: 24px;
}
.tasks-board::-webkit-scrollbar {
    -webkit-appearance: none;
}
.tasks-board::-webkit-scrollbar:vertical {
    width: 10px;
}
.tasks-board::-webkit-scrollbar:horizontal {
    height: 8px;
}
.tasks-board::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.075);
    border-radius: 8px;
}
.tasks-board::-webkit-scrollbar-track {
    border-radius: 8px;
}
.tasks-box .tasks-img {
    height: 135px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 12px 0px;
}
.tasks-box .progress {
    border-radius: 0px 0px 6px 6px;
}
.tasks-box:last-child{
    margin-bottom: 0;
}
.tasks-wrapper{
    max-height: calc(100vh - 350px);
}
.tasks{
    min-height: 180px;
    position: relative;
}
.tasks.noTask::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 180px;
    width: 270px;
    margin: 0 auto;
    background-image: url('../images/file.png');
    background-size: cover;
    background-position: center;
}
.tasks-wrapper .simplebar-offset{
    outline: 0;
}
/* Task Board CSS Ends */
/* Task Board Details CSS Start */
.task-board-details .task.table-card td:last-child,
.task-board-details .time-entries.table-card td,
.task-board-details .time-entries.table-card th{
    text-align: left;
}
.task-board-details .attachment.table-card th,
.task-board-details .time-entries.table-card th{
    font-weight: 500;
}
/* Task Board Details CSS Ends */
/* Orders CSS Start */
.order-timeline .accordion-item{
    position: relative;
}
.order-timeline .accordion-item .accordion-button{
    background-color: transparent;
}
.order-timeline .accordion-item .accordion-button::after{
    background: none;
}
.order-timeline .accordion-item::before{
    content: "";
    border-left: 2px dashed rgb(233,235,236);
    position: absolute;
    height: 100%;
    left: 23px;
}
.order-timeline .accordion-item:first-child::before{
    top: 8px;
}
.order-timeline .accordion-item:last-child::before{
    height: 20px;
    top: 3px;
}
/* Orders CSS Ends */